<form method="post" action="/Home/AddComment">
    <div class="col-xs-10">
        <label>Комментарий</label>
        <input type="text" name="Date" value="@DateTime.Now" hidden>
        <input type="text" name="User" value="Галимарданов Фаузат" hidden>
        <input type="text" class="form-control border-input" name="UserComment">
        <input type="text" name="CreditId" value="@ViewBag.Credit.Id" hidden>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-info btn-fill btn-icon send" type="submit"><i class="fa fa-envelope"></i></button>
    </div>
</form>
<div class="col-xs-12">
    <label>История комментариев</label>
    <textarea rows="5" class="form-control border-input" disabled>
    @foreach (var comment in ViewBag.Comments)
    {
        string cm = comment.Date + " - " + comment.User + " - " + comment.UserComment + "\n";
        @cm
    }
    </textarea>
</div>
