<form method="post" action="/Home/AddProfile">
    <input type="text" value="~/Content/img/avatar.png" name="Photo" hidden/>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Фамилия</label>
                <input type="text" class="form-control border-input" placeholder="Фамилия" name="Surname">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label>Имя</label>
                <input type="text" class="form-control border-input" placeholder="Имя" name="Name">
            </div>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <label>Отчество</label>
                <input type="text" class="form-control border-input" placeholder="Отчество" name="Patronymic">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label>Дата рождения</label>
                <input type="date" class="form-control border-input" name="Birthday">
            </div>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <label>Источник обращения</label>
                <select class="form-control border-input" name="Source">
                    <option value="Агентство недвижимости">Агентство недвижимости</option>
                    <option value="Частный риелтор">Частный риелтор</option>
                    <option value="Наружная реклама">Наружная реклама</option>
                    <option value="Банк партнер">Банк партнер</option>
                    <option value="Интернет">Интернет</option>
                    <option value="Личный кабинет">Личный кабинет</option>
                    <option value="РосБанк">РосБанк</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label>Телефон</label>
                <input type="tel" class="form-control border-input" placeholder="Телефон" name="PhoneNumber">
            </div>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <label>Почта</label>
                <input type="email" class="form-control border-input" placeholder="Почта" name="Email">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Место работы</label>
                <input type="text" class="form-control border-input" placeholder="Место работы" name="Work">
            </div>
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-danger btn-fill btn-wd">Добавить</button>
    </div>
    <div class="clearfix"></div>
</form>
