<div class="row">
    @using (Ajax.BeginForm("Creditprofile", "Home", new AjaxOptions { UpdateTargetId = "stories" }, new { id = "AddStoryForm" }))
    {
        <div class="col-md-8">
            <div class="form-group">
                <label>Добавить в историю</label>
                <input type="text" name="Type" value="story" hidden>
                <input type="text" class="form-control border-input" name="Action" id="story" required>
                <input type="text" name="CreditId" value="@ViewBag.Credit.Id" hidden>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <button type="submit" class="btn btn-info btn-fill btn-wd bottom" id="btnAddStory">Добавить</button>
            </div>
        </div>
    }
</div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <label>История взаимотношений</label>
                <textarea rows="5" class="form-control border-input" disabled>
                @foreach(var story in ViewBag.Stories)
                {
                    string st = story.Date + " - " + story.User + " - " + story.Action + "\n";
                    @st
                } 
                </textarea>
            </div>
        </div>
    </div>
    