<div id="container">
    <div class="row">
        <div class="col-md-5">
            @using (Ajax.BeginForm("AjaxTest", "Home", new AjaxOptions { UpdateTargetId = "container" }))
            {
                <input type="text" id="inp" name="data" />
                <input type="submit" value="Тест" />
            }
        </div>
    </div>
    <p>Data: @ViewData["data"]</p>
</div>
