@if (ViewBag.Credit.Photo != null)
{
    <img src="@Url.Content(ViewBag.Credit.Photo)" width="100%">
}
else
{
    <img src="@Url.Content("~/Content/img/avatar.png")" width="100%">
}
<form method="post" action="/Home/Upload" enctype="multipart/form-data">
    <div class="text-center">
        <button type="submit" class="btn btn-info btn-fill btn-wd photo" onclick="">Изменить фотографию</button>
    </div>
</form>