<img src="@Url.Content("~/Content/img/avatar.png")" width="100%" id="photo">

    <div class="text-center">
        <input type="file" name="upload" id="uploadFile" /><br />
        <button id="submit" class="btn btn-info btn-fill btn-wd photo" type="submit">Загрузить</button>
    </div>